.history-item {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    height: 11.2rem;
    width: 11.2rem;
    border-radius: 4px;

    &:hover {
        background-color: rgba(32, 33, 36, 0.06);
    }

    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        color: initial;
        width: 100%;
        align-items: center;
    }

    img {
        padding: 12px;
        background-color: #f1f3f4;
        border-radius: 50%;
        height: 4.8rem;
        width: 4.8rem;
        margin-bottom: 16px;
    }

    p {
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 8.8rem;
        overflow: hidden;
        text-transform: capitalize;
    }
}